openapi: 3.1.0
info:
  title: WPMgr API
  version: 0.61.124
  description: |
    Control-plane REST API for **WPMgr**, the open-source, self-hostable
    WordPress fleet management platform (AGPL-3.0). One control plane enrolls,
    monitors, updates, backs up, optimizes, and secures many WordPress sites.

    ## Authentication
    - **Dashboard / operator routes** use a session cookie established at login
      (email and password, or OIDC single sign-on). Role-based access
      (owner, admin, operator, viewer) and per-site sharing are enforced
      server-side by Postgres row-level security.
    - **Agent routes** (`/agent/v1/*`, `/enroll`) use Ed25519 signed requests:
      each site's agent plugin signs its calls with a per-site key the control
      plane verifies. The control plane never holds a site secret.
    - **API keys** (`wpmgr_<prefix>_<secret>`) carry the same role matrix as a
      user session, for programmatic access.

    Endpoints declared as `text/event-stream` are live Server-Sent Event
    streams. Documentation tools render them but cannot exercise them from the
    in-page "try it" client.
  contact:
    name: WPMgr
    url: https://github.com/mosamlife/wpmgr
  license:
    name: AGPL-3.0-only
    url: https://www.gnu.org/licenses/agpl-3.0.txt
servers:
  - url: https://manage.wpmgr.app
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: system
    description: Liveness, readiness, and version probes.
  - name: auth
    description: Login, logout, session, and first-run owner bootstrap.
  - name: tenants
    description: Tenant (organization) lifecycle and settings.
  - name: orgs
    description: Organization configuration and membership.
  - name: members
    description: Organization members and their roles (owner, admin, operator, viewer).
  - name: invitations
    description: Tokenized, single-use invitations to join an organization.
  - name: sites
    description: WordPress site enrollment, the connection-state machine, tags, and one-click autologin.
  - name: diagnostics
    description: Per-site Site Health diagnostics (14 categories) and PHP error monitoring.
  - name: backups
    description: Scheduled and on-demand backups, snapshots, restore, and SQL inspection.
  - name: destinations
    description: Backup destinations (control-plane bucket, customer S3, or a local folder).
  - name: updates
    description: WordPress core, plugin, and theme updates with dry-run preview and automatic rollback.
  - name: media
    description: Image optimization to AVIF and WebP, library sync, and savings metrics.
  - name: uptime
    description: Active uptime monitoring, latency reports, TLS certificate tracking, and alerts.
  - name: activity
    description: Hash-chained WordPress activity log and the filtered activity feed.
  - name: audit
    description: Tamper-evident, hash-chained organization audit log.
  - name: billing
    description: >-
      Hosted-billing plan, payment-provider checkout, and billing-management
      portal (owner-only; mounted only when the control plane runs with
      hosted billing enabled).
  - name: admin-billing
    description: >-
      Superadmin instance-wide billing console: the accounts list, one
      account's full detail page, the revenue dashboard, and manual
      overrides (comp, override limits, extend grace, suspend/restore, force
      state). Every route requires is_superadmin=true. These handlers are
      hand-rolled Gin (ADR-047 — ogen's own server is not mounted for this
      area because the routes need requireSuperadmin/RLS middleware); this
      contract documents the wire shape so the TypeScript client is
      generated and a backend test can enforce conformance.
  - name: security
    description: Core file-integrity scans, brute-force protection, and the IP firewall.
  - name: two-factor-auth
    description: Dashboard operator two-factor authentication (TOTP, WebAuthn/passkeys, recovery codes, trusted devices).
  - name: scans
    description: Per-site malware and file-integrity scan runs and their findings.
  - name: vulnerabilities
    description: Known-vulnerability detection for installed core/plugins/themes, sourced from the Wordfence Intelligence feed.
  - name: files
    description: Per-site read/write File Manager (browse, edit, upload, archive, search, and version history), off by default per site.
  - name: email
    description: Per-site and org-level outgoing email logging, deliverability, suppression lists, and provider webhooks.
  - name: clients
    description: Agency client records, client members/invitations, and bulk site assignment.
  - name: portal
    description: Read-only client portal (site status, uptime, backups, updates, vitals, and report downloads).
  - name: rum
    description: Public Real User Monitoring beacon ingest.
  - name: admin
    description: >-
      Superadmin instance-management console (instance stats, user
      management, tenancy diagnostics, and the vulnerability feed API key).
      Every route requires is_superadmin=true. Distinct from the admin-billing
      tag, which covers the billing-specific superadmin console.
  - name: api-keys
    description: Role-scoped, hashed, revocable API keys.
  - name: shares
    description: Per-site sharing with outside collaborators.
  - name: agent
    description: Ed25519 signed agent-to-control-plane endpoints (metadata, heartbeat, diagnostics, backups).
  - name: loginbrand
    description: Per-site wp-login whitelabeling (logo, link, message).
  - name: performance
    description: Per-site Performance Suite (page cache, CSS/JS optimization, RUCSS, CDN, database cleanup) plus portfolio-wide bulk cache actions.
  - name: object-cache
    description: Per-site object (Redis/Memcached) cache management — config, test, enable/disable, flush, and stats history.
  - name: settings
    description: Instance-wide operator settings (currently outgoing SMTP configuration).
  - name: agent-releases
    description: >-
      Operator-facing, read-only visibility into the currently published
      WPMgr agent release version and each site's update freshness. Distinct
      from the agent tag, which covers agent-to-control-plane endpoints.
paths:
  /healthz:
    get:
      operationId: getHealthz
      summary: Liveness probe
      tags: [system]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /readyz:
    get:
      operationId: getReadyz
      summary: Readiness probe
      description: Returns 200 when the service can serve traffic (DB reachable).
      tags: [system]
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
  /auth/register:
    post:
      operationId: register
      summary: Register (first-run bootstrap or self-serve)
      description: |
        On first run (zero users in the database) this bootstraps the instance:
        creates the first user verified and active, creates their tenant, and
        establishes an immediate session (201 + Me). After the first user exists,
        registration is open self-serve: the account is created in a pending
        state, a verification email is sent, and the response is 200
        {ok: true, pending: true}. The user must verify their email via
        POST /auth/verify-email before they can log in.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: First-run bootstrap — user registered, session established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "200":
          description: Self-serve signup accepted; verification email sent
          content:
            application/json:
              schema:
                type: object
                required: [ok, pending]
                properties:
                  ok:
                    type: boolean
                  pending:
                    type: boolean
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/password/forgot:
    post:
      operationId: forgotPassword
      summary: Request a password-reset email
      description: |
        Always returns 200 {ok: true} whether or not the email maps to an
        account (enumeration-safe). A reset-link email is sent when the account
        exists and is active.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Request accepted (enumeration-safe)
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
  /auth/password/reset:
    post:
      operationId: resetPassword
      summary: Consume a password-reset token and set a new password
      description: |
        Validates the one-time reset token and replaces the user's password.
        Does not establish a session; the user must log in separately. Returns
        410 when the token is expired, already used, or not found.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Password updated
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
        "410":
          description: Token expired, already used, or not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed (e.g. password too weak)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/verify-email:
    post:
      operationId: verifyEmail
      summary: Verify a self-serve signup email and establish a session
      description: |
        Consumes the one-time verification token sent during self-serve
        registration, activates the account, and establishes a session so the
        user lands logged in. Returns 410 when the token is expired or already
        consumed.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Email verified; session established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "410":
          description: Token expired or already consumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/verification/resend:
    post:
      operationId: resendVerification
      summary: Re-send the email verification link
      description: |
        Always returns 200 {ok: true} whether or not the email maps to a
        pending account (enumeration-safe). A new verification email is sent
        when the account exists and is still pending verification.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Request accepted (enumeration-safe)
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
  /auth/login:
    post:
      operationId: login
      summary: Email + password login
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated; session cookie set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/logout:
    post:
      operationId: logout
      summary: Destroy the current session
      tags: [auth]
      responses:
        "204":
          description: Logged out
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/me:
    get:
      operationId: getMe
      summary: Current user, memberships, and active tenant
      tags: [auth]
      responses:
        "200":
          description: The authenticated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateMe
      summary: Update the authenticated user's display name
      description: |
        Updates the caller's display name. Email is intentionally not
        editable here.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Updated user, memberships, and active tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/me/password:
    post:
      operationId: changeMyPassword
      summary: Change the authenticated user's password
      description: |
        Verifies `current_password`, then sets `new_password`. This session
        stays alive (its `auth_at` is refreshed so it does not predate the new
        `password_changed_at`); every other session for this user is invalidated.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
      responses:
        "204":
          description: Password changed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ---------------------------------------------------------------------------
  # ADR-056 Phase 3 — dashboard two-factor authentication
  # ---------------------------------------------------------------------------

  /auth/2fa/status:
    get:
      operationId: getTwoFactorStatus
      summary: Current 2FA configuration summary for the authenticated user
      tags: [two-factor-auth]
      responses:
        "200":
          description: 2FA status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwoFactorStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/2fa/totp/begin:
    post:
      operationId: beginTotpEnrollment
      summary: Start TOTP enrollment
      description: |
        Returns the `otpauth://` URI and the base32 secret for the enrollment
        wizard (e.g. to render a QR code). This is the ONLY response that ever
        returns the raw secret.
      tags: [two-factor-auth]
      responses:
        "200":
          description: TOTP provisional secret
          content:
            application/json:
              schema:
                type: object
                required: [otpauth_uri, secret]
                properties:
                  otpauth_uri:
                    type: string
                  secret:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/2fa/totp/confirm:
    post:
      operationId: confirmTotpEnrollment
      summary: Confirm TOTP enrollment with a live code
      description: |
        Validates `code` against the provisional secret from
        `POST /auth/2fa/totp/begin`, persists the confirmed secret, and
        returns 10 recovery codes shown exactly once.
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        "200":
          description: TOTP confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecoveryCodesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/totp/disable:
    post:
      operationId: disableTotp
      summary: Disable TOTP
      description: |
        Requires `current_password` re-authentication. On success: clears
        TOTP, recomputes `two_factor_enabled`, revokes every trusted device
        for this user, and clears the trusted-device cookie on this response.
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password]
              properties:
                current_password:
                  type: string
                  format: password
      responses:
        "204":
          description: TOTP disabled
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/totp:
    post:
      operationId: completeTotpChallenge
      summary: Complete a login 2FA challenge with a TOTP code (unauthenticated)
      description: |
        Verifies `code` against the active challenge minted at login (the
        `challenge` nonce returned by `POST /auth/login`'s 202 response) and,
        on success, issues a full session. `remember_device` optionally issues
        a trusted-device cookie so future logins skip the challenge.
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwoFactorChallengeCompleteRequest"
      responses:
        "200":
          description: Authenticated; session cookie set
          content:
            application/json:
              schema:
                type: object
                required: [me]
                properties:
                  me:
                    $ref: "#/components/schemas/Me"
                  recovery_codes_remaining:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/recovery:
    post:
      operationId: completeRecoveryChallenge
      summary: Complete a login 2FA challenge with a single-use recovery code (unauthenticated)
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwoFactorChallengeCompleteRequest"
      responses:
        "200":
          description: Authenticated; session cookie set
          content:
            application/json:
              schema:
                type: object
                required: [me]
                properties:
                  me:
                    $ref: "#/components/schemas/Me"
                  recovery_codes_remaining:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/recovery-codes/regenerate:
    post:
      operationId: regenerateRecoveryCodes
      summary: Replace the recovery-code batch
      description: |
        Requires `current_password` re-authentication. Replaces the existing
        10-code batch with 10 new ones, returned once.
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password]
              properties:
                current_password:
                  type: string
                  format: password
      responses:
        "200":
          description: New recovery codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecoveryCodesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/webauthn/begin:
    post:
      operationId: beginWebAuthnChallenge
      summary: Start the WebAuthn assertion ceremony for a login challenge (unauthenticated)
      description: |
        Returns the raw `CredentialAssertion` options JSON so the browser can
        pass them directly to `navigator.credentials.get()`.
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge]
              properties:
                challenge:
                  type: string
                  format: uuid
      responses:
        "200":
          description: WebAuthn CredentialAssertion options (raw, provider-defined shape)
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/webauthn/finish:
    post:
      operationId: finishWebAuthnChallenge
      summary: Complete a login 2FA challenge with a WebAuthn assertion (unauthenticated)
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge, assertion]
              properties:
                challenge:
                  type: string
                  format: uuid
                assertion:
                  type: string
                  format: byte
                  description: Base64-encoded WebAuthn assertion response.
                remember_device:
                  type: boolean
                  default: false
                device_label:
                  type: string
      responses:
        "200":
          description: Authenticated; session cookie set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/webauthn/begin-registration:
    post:
      operationId: beginWebAuthnEnrollment
      summary: Start the WebAuthn registration ceremony for the authenticated user
      description: |
        Returns the raw `CredentialCreation` options JSON so the browser can
        pass them directly to `navigator.credentials.create()`.
      tags: [two-factor-auth]
      responses:
        "200":
          description: WebAuthn CredentialCreation options (raw, provider-defined shape)
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/2fa/webauthn/finish-registration:
    post:
      operationId: finishWebAuthnEnrollment
      summary: Complete WebAuthn credential registration
      tags: [two-factor-auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, attestation]
              properties:
                name:
                  type: string
                  description: Operator-chosen label for this credential (e.g. "YubiKey").
                attestation:
                  type: string
                  format: byte
                  description: Base64-encoded WebAuthn attestation response.
      responses:
        "201":
          description: Credential registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebAuthnCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/webauthn/credentials:
    get:
      operationId: listWebAuthnCredentials
      summary: List the authenticated user's WebAuthn credentials
      tags: [two-factor-auth]
      responses:
        "200":
          description: Credentials
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebAuthnCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/2fa/webauthn/credentials/{id}:
    delete:
      operationId: deleteWebAuthnCredential
      summary: Delete a WebAuthn credential
      description: Requires `current_password` re-authentication.
      tags: [two-factor-auth]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password]
              properties:
                current_password:
                  type: string
                  format: password
      responses:
        "204":
          description: Credential deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /auth/2fa/trusted-devices:
    get:
      operationId: listTrustedDevices
      summary: List the authenticated user's trusted devices
      tags: [two-factor-auth]
      responses:
        "200":
          description: Trusted devices
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/TrustedDevice"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/2fa/trusted-devices/{id}:
    delete:
      operationId: revokeTrustedDevice
      summary: Revoke one trusted device
      tags: [two-factor-auth]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Device revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /auth/2fa/trusted-devices/revoke-all:
    post:
      operationId: revokeAllTrustedDevices
      summary: Revoke every trusted device for the authenticated user
      description: Also clears the trusted-device cookie on this response.
      tags: [two-factor-auth]
      responses:
        "204":
          description: All devices revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/oidc/login:
    get:
      operationId: oidcLogin
      summary: Begin OIDC login (redirect to provider)
      description: Redirects (302) to the OIDC provider. Returns 501 if OIDC is disabled.
      tags: [auth]
      responses:
        "302":
          description: Redirect to the OIDC provider
        "501":
          description: OIDC is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/oidc/callback:
    get:
      operationId: oidcCallback
      summary: OIDC redirect callback
      tags: [auth]
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Authenticated via OIDC; session cookie set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          description: OIDC verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "501":
          description: OIDC is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members:
    get:
      operationId: listMembers
      summary: List members of the active tenant
      tags: [members]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: A page of memberships
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: inviteMember
      summary: Invite/create a member in the active tenant (admin+)
      tags: [members]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteRequest"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Membership"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members/{userId}:
    patch:
      operationId: patchMember
      summary: Change a member's role (admin+; privilege-ceiling enforced)
      tags: [members]
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchMemberRequest"
      responses:
        "200":
          description: Role updated; returns the updated membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Membership"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission or last-owner protection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteMember
      summary: Remove a member from the active tenant (admin+; last-owner protected)
      tags: [members]
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "204":
          description: Member removed
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission or last-owner protection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/orgs:
    get:
      operationId: listOrgs
      summary: List the caller's organisations, with their role in each
      tags: [orgs]
      responses:
        "200":
          description: Organisations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgList"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createOrg
      summary: Create a new organisation; the caller becomes the owner
      tags: [orgs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrgRequest"
      responses:
        "201":
          description: Organisation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/orgs/switch:
    post:
      operationId: switchOrg
      summary: Switch the session's active organisation by tenant id (body form)
      description: |
        Requires authentication but NOT an active tenant — this is how a user
        stranded without a valid active org (e.g. a former site-collaborator
        whose access was revoked) recovers. The membership gate runs under
        the caller's own row-level-security scope: a non-member of
        `tenant_id` gets 403, never a different signal that would confirm the
        tenant's existence.
      tags: [orgs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id]
              properties:
                tenant_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Active organisation switched
          content:
            application/json:
              schema:
                type: object
                required: [ok, tenant_id, tenant_name]
                properties:
                  ok:
                    type: boolean
                  tenant_id:
                    type: string
                    format: uuid
                  tenant_name:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not a member of the requested organisation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/v1/orgs/{orgId}/activate:
    post:
      operationId: activateOrg
      summary: Switch the session's active organisation (must be a member)
      tags: [orgs]
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Active organisation switched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivateOrgResponse"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a member of the requested organisation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Organisation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/orgs/{orgId}:
    patch:
      operationId: renameOrg
      summary: Rename an organisation
      description: Requires the caller to be an admin or owner of this org.
      tags: [orgs]
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: Organisation renamed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not a member, or insufficient role (admin/owner required)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteOrg
      summary: Delete an organisation (owner-only)
      description: |
        Two-lane deletion (GH #152). An EMPTY org (zero sites, zero other
        members) is hard-deleted immediately (`lane=hard`). A populated org is
        soft-deleted (`lane=soft`): it becomes invisible everywhere instantly
        and is recoverable via `POST /orgs/{orgId}/restore` until the
        grace-window purge worker runs. `confirm_name` must exactly match the
        organisation's current name. When this is the caller's active org,
        their session is reassigned to another live membership, or cleared
        entirely (dropping to onboarding) if it was their last org, `active_tenant_id` in the response reflects the post-delete state.
        On a hosted instance an active paid subscription must be
        cancelled/downgraded first (`billing_active` 409).
      tags: [orgs]
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm_name]
              properties:
                confirm_name:
                  type: string
      responses:
        "200":
          description: Organisation deleted (hard or soft, see `lane`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrgResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not a member, or insufficient role (owner required)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >-
            org_already_deleted | billing_active | restore_in_progress, see the error `code` for which precondition failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: confirm_name does not match the organisation's name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/orgs/{orgId}/restore:
    post:
      operationId: restoreOrg
      summary: Undelete a soft-deleted organisation within the grace window (owner-only)
      tags: [orgs]
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Organisation restored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not a member, or insufficient role (owner required)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: org_already_purged — the organisation was already permanently deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: >-
            org_not_deleted | purge_in_progress — see the error `code` for
            which precondition failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/shares:
    get:
      operationId: listSiteShares
      summary: List collaborators for a site (admin+)
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      responses:
        "200":
          description: List of site shares
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteShareList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createSiteShare
      summary: |
        Grant site access to an email (admin+; org-scope only). If the email
        matches a known user the share is immediate (201); otherwise an invitation
        is created and the accept link is returned (202).
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSiteShareRequest"
      responses:
        "201":
          description: Share created immediately (known user)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteShareGrantResponse"
        "202":
          description: Invitation created (unknown user); accept_link returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteShareGrantResponse"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission or site-scoped principal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/shares/{userId}:
    delete:
      operationId: deleteSiteShare
      summary: Revoke a collaborator's site access (admin+; org-scope only)
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/UserId"
      responses:
        "204":
          description: Share revoked
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission or site-scoped principal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Share not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/shared-with-me:
    get:
      operationId: listSharedWithMe
      summary: List sites shared to the authenticated user (any logged-in user)
      tags: [shares]
      responses:
        "200":
          description: Shares granted to this user across all orgs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteShareList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/invitations:
    get:
      operationId: listSiteInvitations
      summary: List share-invitation history for a site (org-scoped)
      description: |
        Requires the `member.manage` permission and full org membership — a
        site-scoped collaborator cannot manage shares.
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      responses:
        "200":
          description: Invitation history
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/SiteInvitation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/sites/{siteId}/invitations/{invitationId}:
    delete:
      operationId: revokeSiteInvitation
      summary: Revoke a pending site-share invitation
      description: |
        Requires the `member.manage` permission and full org membership.
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Invitation revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/sites/{siteId}/invitations/{invitationId}/regenerate:
    post:
      operationId: regenerateSiteInvitation
      summary: Rotate a site-share invitation's accept token
      description: |
        Requires the `member.manage` permission and full org membership.
        Returns a fresh `accept_link` for the same pending invitation.
      tags: [shares]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Token rotated
          content:
            application/json:
              schema:
                type: object
                required: [accept_link]
                properties:
                  accept_link:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/invitations/accept:
    post:
      operationId: acceptInvitation
      summary: |
        Accept an invitation by token (public; creates/links user and session).
        Accepts both org-scope invitations (creates a membership) and site-scope
        invitations (creates a site_shares row). Validates token hash, email
        binding, expiry, single-use, and rate-limit.
      tags: [invitations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInvitationRequest"
      responses:
        "200":
          description: Invitation accepted; session established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptInvitationResponse"
        "400":
          description: Invalid token, expired, already used, or email mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many attempts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys for the active tenant (admin+)
      tags: [api-keys]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: A page of API keys (no secrets)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createApiKey
      summary: Create an API key (admin+); the secret is shown once
      tags: [api-keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyCreate"
      responses:
        "201":
          description: API key created; token returned once
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreated"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/api-keys/{apiKeyId}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key (admin+)
      tags: [api-keys]
      parameters:
        - $ref: "#/components/parameters/ApiKeyId"
      responses:
        "204":
          description: API key revoked
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: API key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/destinations:
    get:
      operationId: listSiteDestinations
      summary: List configured backup destinations for a site
      description: |
        ADR-036 P1 storage adapter. Returns every destination configured on the
        site (`cp` / `local` / `s3_compat`). The encrypted S3 secret is NEVER
        returned; `has_secret` reports whether one is stored.
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      responses:
        "200":
          description: A list of destinations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDestinationList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createSiteDestination
      summary: Add a backup destination to a site
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteDestinationCreate"
      responses:
        "201":
          description: Destination created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDestination"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/destinations/test:
    post:
      operationId: testSiteDestination
      summary: Verify credentials for a destination without persisting them
      description: |
        Returns 200 with `{ok, message}` regardless of success/failure so the
        UI can render the operator-readable diagnostic inline. S3-compat
        kinds run a HeadBucket + PutObject + DeleteObject probe against the
        target bucket; cp/local kinds return ok=true trivially.
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteDestinationTest"
      responses:
        "200":
          description: Test result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDestinationTestResult"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/sites/{siteId}/destinations/{destinationId}:
    get:
      operationId: getSiteDestination
      summary: Read one configured destination
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/DestinationId"
      responses:
        "200":
          description: The destination.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDestination"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Destination not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateSiteDestination
      summary: Update a configured destination (omit secret_key to keep it)
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/DestinationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteDestinationUpdate"
      responses:
        "200":
          description: The updated destination.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDestination"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Destination not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteSiteDestination
      summary: Remove a configured destination
      tags: [destinations]
      parameters:
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/DestinationId"
      responses:
        "204":
          description: Destination deleted.
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Destination not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  # --- ADR-045 instance SMTP settings ------------------------------------------
  /api/v1/settings/smtp:
    get:
      operationId: getSmtpSettings
      summary: Get the instance-wide SMTP settings (masked)
      description: |
        Org-scoped (blocks site-scoped collaborators). Reads require admin+;
        the stored password/secret is never returned in plaintext.
      tags: [settings]
      responses:
        "200":
          description: Current SMTP settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmtpSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      operationId: updateSmtpSettings
      summary: Update the instance-wide SMTP settings
      description: Requires the `smtp.manage` permission (owner-only).
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmtpSettingsUpdate"
      responses:
        "200":
          description: Updated SMTP settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmtpSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/v1/settings/smtp/test:
    post:
      operationId: sendSmtpTestEmail
      summary: Send a test email through the stored SMTP config
      description: |
        Requires the `smtp.manage` permission (owner-only). A send failure is
        returned as `200 {ok:false, message}` — the scrubbed reason string
        never contains internal IPs/hostnames — rather than a 4xx/5xx, so the
        UI can show it inline.
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_address]
              properties:
                to_address:
                  type: string
                  format: email
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
                required: [ok, message]
                properties:
                  ok:
                    type: boolean
                  message:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/audit:
    get:
      operationId: listAudit
      summary: List the active tenant's audit log (admin+)
      tags: [audit]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: action
          in: query
          required: false
          description: >
            Prefix-match filter on the `action` field. Passing `site.files.`
            returns every file-manager event; passing an exact action string
            (e.g. `site.files.delete`) also works because it is a prefix of
            itself. Omit to return all actions.
          schema:
            type: string
        - name: site_id
          in: query
          required: false
          description: >
            UUID of a specific site. When set, only entries whose `target_type`
            is `"site"` and `target_id` matches this UUID are returned. All
            per-site actions (file-manager, perf, backup, cache, security, …)
            write the site UUID as `target_id` with `target_type="site"`, so
            this filter produces a complete per-site timeline. Omit to return
            entries for all sites.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A page of audit entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditList"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/audit/verify:
    get:
      operationId: verifyAudit
      summary: Verify the integrity of the audit hash-chain (admin+)
      tags: [audit]
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditVerify"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/audit/integrity/rebaseline:
    post:
      operationId: rebaselineAuditIntegrity
      summary: Acknowledge a historical audit chain break by re-baselining (owner)
      description: |
        Moves the tenant's audit-integrity verification anchor to the CURRENT
        chain head, so `verifyAudit` treats everything up to and including
        that point as trusted and only walks entries written after it going
        forward. This exists because `audit_log` is append-only and hash-
        chained: a historical break caused by a race that pre-dates the
        per-tenant serialization in the append path can never be repaired in
        place, so without this endpoint an operator would see a permanent
        "chain break" badge with no way to acknowledge it.

        This endpoint NEVER alters or deletes any `audit_log` row — the
        flagged rows (and everything else) remain exactly as written, for
        forensic review; re-baselining only moves where verification starts.
        It is itself recorded as a normal hash-chained audit entry (action
        `audit.integrity.rebaselined`), so the acknowledgment lives in the
        tamper-evident trail too. Any tampering that happens AFTER the
        baseline is still caught by `verifyAudit`. Owner-only
        (`audit:manage`) — the same trust bar as tenant/SMTP management.
      tags: [audit]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuditRebaselineRequest"
      responses:
        "200":
          description: >
            The re-baseline was applied; the returned verification result
            should report ok=true unless tampering occurred concurrently with
            this call.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditVerify"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: The tenant has no audit history to baseline yet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing:
    get:
      operationId: getBilling
      summary: Get the active tenant's hosted-billing summary (owner)
      description: >
        Returns the tenant's current plan, payment-provider subscription
        status, and site-count meter. Only mounted when the control plane is
        running with hosted billing enabled (`WPMGR_HOSTED`) — a self-hosted
        or unhosted instance 404s this path (and the two below it) entirely.
      tags: [billing]
      responses:
        "200":
          description: The tenant's billing summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingSummary"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/checkout:
    post:
      operationId: createBillingCheckout
      summary: Start a hosted checkout session for a paid tier (owner)
      description: >
        Starts a payment-provider checkout session for the requested tier.
        The provider price is resolved SERVER-SIDE from an internal
        tier-to-price mapping — the request body never names a price
        directly. Returns a URL to redirect the browser to.
      tags: [billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingCheckoutRequest"
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingCheckoutResponse"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: tier is not one of starter, agency, scale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: No payment provider is configured on this instance yet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/portal:
    post:
      operationId: createBillingPortal
      summary: Open the payment provider's billing-management portal (owner)
      description: >
        Mints a short-lived billing-management portal session for the
        tenant's existing payment-provider customer, routed via whichever
        provider the tenant's first checkout started with. Returns a URL to
        redirect the browser to.
      tags: [billing]
      responses:
        "200":
          description: Portal session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPortalResponse"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: >
            This workspace has no payment-provider customer yet — start a
            checkout first
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/checkout/verify:
    post:
      operationId: verifyBillingCheckoutCallback
      summary: Verify a browser-returned Razorpay checkout completion callback (owner)
      description: >
        A UX confirmation ONLY — the payment provider's webhook remains the
        sole source of truth for actually granting a plan. Verified against
        the caller's own tenant's pinned provider; the request can never name
        a different tenant or provider.
      tags: [billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razorpay_payment_id:
                  type: string
                razorpay_subscription_id:
                  type: string
                razorpay_signature:
                  type: string
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                required: [verified]
                properties:
                  verified:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/v1/billing/cancel:
    post:
      operationId: cancelBillingSubscription
      summary: Cancel the tenant's subscription (owner)
      description: >
        The provider-agnostic cancellation path — the only one for a provider
        with no hosted portal (e.g. Razorpay). Cancellation is scheduled for
        the end of the current billing period; the plan/status change lands
        later via the provider's webhook. Poll `GET /billing` afterward
        rather than expecting this response to carry the new plan state.
      tags: [billing]
      responses:
        "200":
          description: Cancellation scheduled
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # --- m33 superadmin instance-management console ------------------------------
  # Every route below requires is_superadmin=true (requireSuperadmin middleware).
  # A non-superadmin gets 403 superadmin_required, indistinguishable from a
  # route that genuinely does not exist for them.
  /api/v1/admin/stats:
    get:
      operationId: getAdminStats
      summary: Instance-wide counts (superadmin)
      tags: [admin]
      responses:
        "200":
          description: Instance stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminStats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/users:
    get:
      operationId: listAdminUsers
      summary: Search/list every user on the instance (superadmin)
      tags: [admin]
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: User list
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/users/{userId}:
    patch:
      operationId: setAdminUserStatus
      summary: Set a user's status (superadmin)
      tags: [admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAdminUser
      summary: Delete a user (superadmin)
      description: |
        Hard-deletes the user. Any organisation the user solely owned with
        zero sites is deleted along with them; an organisation with sites (or
        other members) is kept, listed in `kept_orgs_with_sites`.
      tags: [admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminDeleteUserResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/admin/users/{userId}/resend-verification:
    post:
      operationId: resendAdminUserVerification
      summary: Resend a pending user's verification email (superadmin)
      tags: [admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Resent
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/admin/users/{userId}/sites:
    get:
      operationId: listAdminUserSites
      summary: Every site reachable by a user via their org memberships (superadmin)
      tags: [admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sites reachable by this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserSites"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/sites/{siteId}/tenancy:
    get:
      operationId: getAdminSiteTenancy
      summary: Diagnose a site/tenant ownership split (superadmin, read-only)
      description: |
        Compares where a site and its perf data (rucss results / cache stats
        / config) live against the calling superadmin's own org memberships.
        No mutation.
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      responses:
        "200":
          description: Tenancy diagnostic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSiteTenancy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/sites/{siteId}/grant-self-membership:
    post:
      operationId: grantAdminSelfMembership
      summary: Re-attach the calling superadmin as owner of a site's org (superadmin)
      description: |
        Idempotent recovery primitive for a recovery-induced org split. Only
        ever adds the CALLER (never an arbitrary user) to the SITE's own org
        (never an arbitrary tenant).
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/SiteId"
      responses:
        "200":
          description: Membership result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGrantSelfMembershipResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/accounts-tenancy:
    get:
      operationId: getAdminAccountsTenancy
      summary: Every user matching an email substring, with memberships, plus a full org census (superadmin, read-only)
      description: |
        Diagnostic for account/org splits (e.g. a superadmin stranded in the
        wrong org while site data lives in a different org). No mutation.
      tags: [admin]
      parameters:
        - name: email
          in: query
          required: false
          description: ILIKE substring match against users.email. Omit or empty to match all users.
          schema:
            type: string
      responses:
        "200":
          description: Accounts tenancy census
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAccountsTenancy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/vuln-feed/status:
    get:
      operationId: getAdminVulnFeedStatus
      summary: Masked Wordfence Intelligence feed API key status (superadmin)
      description: The key itself is never returned.
      tags: [admin]
      responses:
        "200":
          description: Feed status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminVulnFeedStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: vuln_feed_not_wired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/vuln-feed/key:
    put:
      operationId: setAdminVulnFeedKey
      summary: Set the vulnerability feed API key (superadmin)
      description: |
        Plaintext key in the body over TLS. On success an immediate sync is
        triggered so the operator sees it connect without waiting an hour.
      tags: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key]
              properties:
                key:
                  type: string
      responses:
        "200":
          description: Key stored
          content:
            application/json:
              schema:
                type: object
                required: [ok, syncing]
                properties:
                  ok:
                    type: boolean
                  syncing:
                    type: boolean
                  warning:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: vuln_feed_not_wired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: clearAdminVulnFeedKey
      summary: Clear the UI-stored vulnerability feed API key (superadmin)
      description: Falls back to the `WPMGR_VULN_FEED_API_KEY` environment variable, if set.
      tags: [admin]
      responses:
        "200":
          description: Key cleared
          content:
            application/json:
              schema:
                type: object
                required: [ok, fallback_source]
                properties:
                  ok:
                    type: boolean
                  fallback_source:
                    type: string
                    enum: [ui, env, none]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: vuln_feed_not_wired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/vuln-feed/sync:
    post:
      operationId: syncAdminVulnFeed
      summary: Enqueue an immediate vulnerability feed refresh (superadmin)
      tags: [admin]
      responses:
        "202":
          description: Sync enqueued
          content:
            application/json:
              schema:
                type: object
                required: [ok, syncing]
                properties:
                  ok:
                    type: boolean
                  syncing:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: superadmin_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: vuln_feed_not_wired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/admin/agent-mirror/check:
    post:
      operationId: checkAgentMirrorNow
      summary: Check the upstream agent release now (superadmin, or the owner of a single-organisation install)
      description: |
        Queues one immediate run of the upstream agent-release mirror
        (internal/agentupstream), instead of waiting up to six hours for the
        next scheduled run (GH #322).

        Deliberately NOT under /api/v1/fleet. The mirror is ONE PER INSTALL:
        it fetches one public GitHub release and writes one pair of objects
        into one bucket. A tenant-scoped trigger would let any org admin on a
        shared install spend the install's shared unauthenticated GitHub
        request budget (60 per hour per IP) and rewrite the install's shared
        release pointer.

        Who may call it: a superadmin (is_superadmin=true), OR the owner of the
        only organisation on this install. The second arm exists because the
        first arm's whole purpose is to stop one tenant spending another
        tenant's share of that budget, and on an install with exactly one
        organisation there is no other tenant for it to protect. It requires
        the memberships role 'owner' exactly, on the one organisation whose
        tenants.deleted_at is null; admin, operator and viewer are refused, as
        is an API-key principal. The count is read on every request and never
        cached, so a second organisation appearing closes this path again on
        the very next call, and the owner never becomes a superadmin: nothing
        else on /api/v1/admin admits them. Multi-organisation installs are
        unchanged and stay superadmin-only. Compare
        POST /api/v1/admin/vuln-feed/sync, which remains superadmin-only.

        A 202 means the run was QUEUED, not that anything was checked. The
        run may still end rate limited, refused or unavailable; the real
        outcome appears as agent_mirror.last_attempt_outcome on
        GET /api/v1/fleet/agents.

        No request body and no force parameter: bypassing the request
        spacing would spend the install's shared upstream budget for no new
        information.
      tags: [admin]
      responses:
        "202":
          description: A mirror run was queued. Nothing has been checked yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMirrorCheckQueued"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >
            superadmin_required - the caller is neither a superadmin nor the
            owner of the only organisation on this install. The code and
            message are identical for both, on purpose: a refusal must not
            reveal how many organisations this install has.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: >
            agent_mirror_check_in_flight - a mirror run is already queued or
            running. Nothing was queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: >
            agent_mirror_rate_limited - the last actual upstream request was
            less than the mirror's minimum request spacing ago, so nothing
            was checked and nothing was queued. Carries a Retry-After header,
            and details with retry_after_seconds (integer), next_check_after
            (RFC3339) and last_request_at (RFC3339).
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: >
            agent_mirror_disabled - WPMGR_UPDATE_AGENT_MIRROR_ENABLED is
            false (the default, and the hosted service's setting), or
            agent_mirror_not_configured - the mirror is enabled but object
            storage is not wired, or agent_mirror_not_wired - the admin
            sub-handler itself was never wired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/admin/accounts:
    get:
      operationId: listAdminAccounts
      summary: Paginated, filtered list of tenant accounts (superadmin)
      description: |
        Superadmin-only accounts console: instance-wide header tiles (always
        unfiltered by the current query, so they read as a stable instance
        census) plus a filtered, sorted, paginated list of every tenant.
        Default order is a server-computed "needs attention" ranking:
        suspended first, then past_due (soonest-to-expire grace first), then
        active (MRR desc), then everything else (newest first). Requires
        is_superadmin=true.
      tags: [admin-billing]
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Case-insensitive substring match against org name, org slug, or owner email.
        - name: status
          in: query
          schema: { type: string }
          description: >-
            Comma-separated tenants.plan_status values to filter by (e.g.
            "past_due,canceled").
        - name: plan
          in: query
          schema: { type: string }
          description: Comma-separated plan tiers to filter by (e.g. "starter,agency").
        - name: past_due
          in: query
          schema: { type: boolean, default: false }
          description: Restrict to accounts whose plan_status is past_due.
        - name: near_limit
          in: query
          schema: { type: boolean, default: false }
          description: Restrict to accounts at or above 80% of their site or storage cap.
        - name: has_overrides
          in: query
          schema: { type: boolean, default: false }
          description: Restrict to accounts with a non-empty tenants.plan_overrides.
        - name: comped
          in: query
          schema: { type: boolean, default: false }
          description: Restrict to accounts whose plan_status is comped.
        - name: idle_90d
          in: query
          schema: { type: boolean, default: false }
          description: Restrict to accounts with no recorded activity in the last 90 days.
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Header tiles + the filtered/paginated accounts page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAccountsResponse"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Caller is not a superadmin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: The billing-admin panel is not configured on this instance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/accounts/{id}:
    get:
      operationId: getAdminAccount
      summary: Full account-detail page for one tenant (superadmin)
      description: |
        Returns the account header, usage-vs-entitlement meters, subscription
        card, a merged billing_events+audit_log timeline (newest first), the
        member roster, and a compact site list. Requires is_superadmin=true.
      tags: [admin-billing]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The account-detail page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAccountDetail"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Caller is not a superadmin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No tenant exists with this id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: The billing-admin panel is not configured on this instance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/accounts/{id}/comp:
    post:
      operationId: compAdminAccount
      summary: Grant a manual comp (superadmin)
      description: |
        Sets plan_status=comped and plan=tier, bypassing the payment provider
        entirely. A comped tenant is immune to webhook-driven plan mutation.
        Requires is_superadmin=true.
      tags: [admin-billing]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminCompAccountRequest"
      responses:
        "200":
          description: Comp granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminBillingAck"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Caller is not a superadmin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No tenant exists with this id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: reason is empty, or tier is not one of free, starter, agency, scale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: The billing-admin panel is not configured on this instance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
[...]
